* {
  font-family: "Roboto", sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 0px;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link-button {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}