* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

.width {
  width: 1200px;
}

.center {
  display: flex;
  justify-content: center;
}

.vertspace {
  padding: 100px 0px 100px 0px;
}

.dark {
  background: #1f2937;
}

.blue {
  background: #3882f6;
}

.round {
  border-radius: 10px;
}

.subtext {
  margin: 0.5em 0em;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.header-text {
  margin: 0px;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link-button {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.gap {
  gap: 40px;
}

.hero-item {
  flex: auto;
  width: 0;
}

.hero-text {
  margin: 0px;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.card-image {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.imgs-section {
  text-align: center;
}

.imgs-headline {
  margin: 40px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 800px;
}

.imgs-row {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.card {
  max-width: 200px;
}

.quote-section {
  background: #e5e7eb;
}

.quote {
  color: #1f2937;
}

.quote.main {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote.attribut {
  font-size: 18px;
  font-weight: 800;
  text-align: right;
}

.call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.call .button {
  border: 3px solid #f9faf8;
}

.footer {
  padding: 40px 0px;
  text-align: center;
}